.DS_Store
**/.DS_Store
**/*/.DS_Store
**/*/*/.DS_Store
**/.build*/*
**/.settings/*
**/bin/*
**/bin/*/*
**/.venv/**
**/_build/
**/run_*.log
**/.metadata/*
.metadata/*
*.dSYM
*.dSYM/*
**/*.dSYM/*
*.dylib
*.so
*.o
*.xe
**/*.xe
**/**/*.xe
*.vcd
*.xi
*.i
*.xmt
*.swp
.*.swp
.*.*.swp
*.swo
*.todo
org.eclipse.cdt.core.prefs
xsim.args
*.bak
**/*.cproject
**/*.project